<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
       <link rel="stylesheet" type="text/css" href="stylesheets/about.css">
    </head>
    
    <body>
      
      <h1> <b>About the Creators</b> <br></h1>
    
        <b>Aderonke Adejare</b> is 16 years old and a rising junior at Clearview Regional High School.
        She lives in Mantua, NJ and is from Nigerian descent.
        She enjoys learning about and advocating about racial & gender relations and mental health. <br><br> 
      
        <b>Shailey Gulrajani</b></h2> is 17 years old, and she is a rising senior at Central Bucks High School East. 
        She lives in Warminster, PA but is originally from Atlanta, Georgia.
        She is of Indian descent, and she is passionate about social issues (especially sexism and racism).
       <br>
    </body>
</html>
