<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/style.css">
  <style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

  </style>
  
</head>

<body>
  
  <ul class="refs">
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#racism">Racism</a></li>
  <li><a href="#sexism">Sexism</a></li>
  <li><a href="#impact">Impact</a></li>
  <li><a href="#about">About</a></li>
</ul>

  
  <div class="container" style="text-align:center">
 <h1><b>A Better World: It Starts With You</b></h1> <br>
 <p class="quiz"><a href ="/biasquiz"> Take our "How Biased Are You?" Quiz  </a>  </p> <br> <br> <br> <br>
 
 

<iframe src="https://giphy.com/embed/aww9zSWC1qGOY" width="405" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/gender-equality-aww9zSWC1qGOY"></a></p>
 
 <br><br><br><br><br>

<h3><i>What is racism?</i></h3>
<div class="container" style="text-align:center">
<a href="http://tinypic.com?ref=zk5ra1" target="_blank"><img src="http://i63.tinypic.com/zk5ra1.png" border="0" alt="racism definition"></a> <br> 
<br> <br> <br>
  
<h4><i>What is sexism?</i></h4>
<div class="container" style="text-align:center">
<a href="http://tinypic.com?ref=ok7ns4" target="_blank"><img src="http://i67.tinypic.com/ok7ns4.png" border="0" alt="sexism definition"></a> <br> <br> <br> <br> <br> <br>

<h5>Check out our #woke Spotify playlist!</h5>  <br>
  <iframe src="https://open.spotify.com/embed/user/shaileyg16/playlist/73SPF24WS2CgjfSPymOutK" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
 
</body>
</html>