<!DOCTYPE html>
<html>
<form method="POST" action="/math_results">
  <p>Your Name: <input type="text" name="name"></p>
  <p>3+3: <input type="text" name="first_problem"></p>
  <input type="submit">
</form>
</html>