<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <h1><b><font size = "30">All About Bhavana</b></font> <br></h1>
  <b>By Shailey</b> <br> <br> 
  <u><font size = "5">The Basics:</u></font> <br>
  -14 years old  <br>
  -From Swedesboro, NJ  <br>
  -Sophomore at Kingsway Regional HS <br>
  -Has an older sister who's a senior <br>
  -Fences and plays piano <br>
  <a href="http://tinypic.com?ref=29ddaio" target="_blank"><img src="http://i68.tinypic.com/29ddaio.jpg" border="0" alt="fencing" height = "300" width = "500 "></a>  <br>
  <a href="http://tinypic.com?ref=e5ftvq" target="_blank"><img src="http://i63.tinypic.com/e5ftvq.jpg" border="0" alt="playing piano" height = "300" width = "500"></a>
  <br> <br>

<u><font size = "5">Favorite Things:</u></font> <br>
  -Pizza <br>
  -Taylor Swift and SZA <br>
  -Riverdale <br>
  -French bulldogs <br>
  -New York City <br>
  -"Christian music" <br>
  -Last but not least, MEMES!! <br><img src="http://i65.tinypic.com/21c7dig.jpg" border="0" alt="gavin kid" height = "300" width = "300"></a>  <br>

<img src="http://i68.tinypic.com/2dky1hs.jpg" border="0" alt="arthur meme" height = "300" width = "300"></a>  <br>

<a href="http://tinypic.com?ref=2vdf9ed" target="_blank"><img src="http://i64.tinypic.com/2vdf9ed.jpg" border="0" alt="french bulldog" height = "300" width = "300"></a>   <br>

<a href="http://tinypic.com?ref=9pypo1" target="_blank"><img src="http://i68.tinypic.com/9pypo1.jpg" border="0" alt="Image and video hosting by TinyPic"></a>  
  
  
</body>

</html>
