<!DOCTYPE html>
<html>
<form method="POST" action="/math_results">
  <p>Your Name: <input type="text" name="name"></p>
  <p>3+3: <input type="text" name="first_problem"></p>
  <p>2*4: <input type="text" name="second_problem"></p>
  <p>4-3: <input type="text" name="third_problem"></p>
  <p>15/3: <input type="text" name="fourth_problem"></p>
  <p>12%6: <input type="text" name="fifth_problem"></p>
  <input type="submit">
</form>
</html>