<!DOCTYPE html>
<html>
<head>
<style> 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 

</head>

h6{
  text-align: center;
  font-family: Quattrocento Sans;
  font-size: 60px;
}

h7{
  text-align: center;
  font-family: Quattrocento Sans;
  font-size: 40px;
}

h8{
  text-align: center;
  font-family: Quattrocento Sans;
  font-size: 25px;
}

body{
  background: #b29f94;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #b29f94, #603813,#b29f94);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #b29f94, #603813, #b29f94); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  text-align: center;
}
</style>

  
<body>
  
  
<h6><b>Racism</b></h6> <a href="http://tinypic.com?ref=27zg96w" target="_blank"><img src="http://i67.tinypic.com/27zg96w.jpg" border="0" alt="Image and video hosting by TinyPic" width="500" height="300"></a>
<br> <br> <br> <br> <br>
<h7><i><b>How does racism affect people?</b></i></h7>
<div class="container" style="text-align:center">
  <br> <br>
  </div>
  
 <h8><div class="container" style="text-align:center"></h8>
  </div>
  According to The Conversation, "witnessing and hearing stories about racism can impact your health." <br> <br>
  For example, "Systemic racism affects Indigenous population’s health in various ways, this includes limited healthy food choices, inadequate living conditions and substandard health care. The infant mortality rate within Indigenous communities is almost 12 times that of settler communities." <br> <br>
  In addition, "In one U.S. study, researchers studied 1,574 Baltimore residents of which 20 per cent reported that they had been racially discriminated against 'a lot.' This same group had higher systolic blood pressure than those who perceived they had been discriminated against very little. Additionally, over a five-year period the group that felt they had been discriminated against 'a lot' had higher declines in kidney function."
  
</body>
  
  
  
</html>