<!DOCTYPE html>
<html>
<head>
  
</head>
  
<body>
<h6><b>Racism</b></h6>

<h7><i>How does racism affect people?</i></h7>
<div class="container" style="text-align:center" font-size="20">
  
  
  
</body>
  
  
  
</html>