<!DOCTYPE html>
<html>
<head>
<style> 
h6{
  text-align: center;
  font-family: Quattrocento Sans;
  font-size: 60px;
}

h7{
  text-align: center;
  font-family: Quattrocento Sans;
  font-size: 40px;
}

h8{
  text-align: center;
  font-family: Quattrocento Sans;
  font-size: 25px;
}

body{
  background: #b29f94;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #b29f94, #603813,#b29f94);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #b29f94, #603813, #b29f94); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  text-align: center;
}
</style>
</head>
  
<body>
  
  
<h6><b>Racism</b></h6>

<h7><i>How does racism affect people?</i></h7>
<div class="container" style="text-align:center">
  <br> <br>
  </div>
  
 <h8><div class="container" style="text-align:center"></h8>
  </div>
  According to "The Conversation," "witnessing and hearing stories about racism can impact your health." <br> <br>
  For example, "Systemic racism affects Indigenous population’s health in various ways, this includes limited healthy food choices, inadequate living conditions and substandard health care. The infant mortality rate within Indigenous communities is almost 12 times that of settler communities."
  
</body>
  
  
  
</html>