<!DOCTYPE html>
<html>
<head>
<style> 
h6{
  text-align: center;
  font-family: Quattrocento Sans;
  font-size: 60px;
}
</style>
</head>
  
<body>
<h6><b>Racism</b></h6>

<h7><i>How does racism affect people?</i></h7>
<div class="container" style="text-align:center">
  
  </div>
  
  STUFF
  
</body>
  
  
  
</html>