<!DOCTYPE html>
<html>
  <head>
    <style>
       ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.quiz {
  text-align: center;
}

.refs li a:hover {
  color: #E1DAC4;}

      
      body{background: #b29f94;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #b29f94, #603813,#b29f94);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #b29f94, #603813, #b29f94); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      text-align: center;
   font-size: 23px;  
   color: #FAFAFA;
   font-family: Tahoma; 
      }
      
    </style>
  </head>
  
  <body>
    <h1> How does <b>SEXISM</b> affect people? </h1>
  Everyday women face instances of sexism in schoool and work; in public and private. <br><br>
  
  Here are some of their stories: 
  
  "“He asked to speak to the manager, so I told him that was me.”
The first time I remember was when I was a 21-year-old theatre box office manager of a prestigious theatre in Toronto. A male customer argued with our policy that I had explained to him. He asked to speak to the manager, so I told him that was me.

Just then, our newest, youngest, male employee walked behind me, and the customer asked to speak to him. Since we had a ticket booth window, I was able to stand to the side, not being seen or heard by the customer, and tell the younger, new, male employee what to say in answer to the questions. The customer accepted his answers/explanations and walked away.

— Barb, Toronto" <a href = "https://hellogiggles.com/news/workplace-sexism/"> 10 women reveal the most sexist experiences they've ever had at work </a> from Hello Giggles

<a href = "https://everydaysexism.com/"> The Every Day Sexism Project</a> is a website that allows people to submit their stories of sexism to show the prominence of it in our society. 
  
    
  </body>
  
  
</html>