<!DOCTYPE html>
<html>
  <head>
  <style>
    body{background: #b29f94;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #b29f94, #603813,#b29f94);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #b29f94, #603813, #b29f94); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      text-align:justify;
   font-size: 23px;  
   color: #FAFAFA;
   font-family: Tahoma; 
    }
  </style>
  </head>
<body>


<h1> You're Somewhat Biased </h1>
According to the Stanford Encyclopedia of Philosphophy, <a href="https://plato.stanford.edu/entries/implicit-bias/">Implicit Bias </a> refers to the<br> relatively unconscious and relatively automatic features of prejudiced judgment <br>and social behavior.<br><br>

You may do some stereotyping but your implicit bias is not great enough to <br> affect your relationships with others. <br><br><u><i> There's still more you can do to reduce that bias:</u></i>  <br><br>

"At the end, Devine and Cox offered ideas for substitute habits. Observe your own  <br>stereotypes and replace them, Cox said. Look for situational reasons for a person’s behavior,<br> rather than stereotypes about that person’s group. Seek out people who belong to groups unlike your own. <br>Devine paced among the desks, making eye contact with each student. “I submit to you,” <br> she said, her voice steady with conviction, “that prejudice is a habit that can be broken.”" 
 <br><a href="https://www.theatlantic.com/science/archive/2017/05/unconscious-bias-training/525405/"> Is This How Discrimination Ends?</a> by Jessica Nordel, The Atlantic <br><br>



<br> There's still more you can learn about implicit bias and even more you can do to combat discrimination. <br>
Check out our pages on these:
<br><br>
<li><a href="https://bigthink.com/21st-century-spirituality/implicit-bias-is-not-racism"> Implicit Bias is Not Racism </a> by Derek Beres on BigThink</li>
<br><br>


</body>
</html>